PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hubspot_sync

REDIS_HOST=localhost
REDIS_PORT=6379

HUBSPOT_CLIENT_SECRET=your-client-secret-here

EXTERNAL_API_BASE_URL=https://upset-impalas-clap.loca.lt
