# Entorno de desarrollo local (SQLite)
DB_TYPE=sqlite

# Entorno de produccion AWS (MySQL)
# DB_TYPE=mysql
# DB_HOST=db-panama-pacifico.cnkbgcbnfgs5.us-east-2.rds.amazonaws.com
# DB_PORT=3306
# DB_USER=your-db-user
# DB_PASSWORD=your-db-password
# DB_NAME=hubspot_sync

REDIS_HOST=localhost
REDIS_PORT=6379

HUBSPOT_CLIENT_SECRET=
EXTERNAL_API_BASE_URL=https://aiep.cebralab.com
QUEUE_AUTH_USERNAME=aiep-integracion
QUEUE_AUTH_PASSWORD=your-queue-password
PORT=3000
